<section class="mx-10">
    <h1 class="text-3xl">{{ country().name }}</h1>
    <h2 class="text-xl font-thin">Población {{ country().population | number }}</h2>

</section>

<section class="stats shadow">
    <div class="stat">
      <div class="stat-figure text-primary">

        
        <app-favorite-button [isFavorite]="isFavorite()" (toggleFavorite)="onClick()"/>
      </div>
      <div class="stat-title">Población</div>
      <div class="stat-value text-primary">{{ country().population | number }}</div>
      <div class="stat-desc">Hasta </div>
    </div>
  
    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-8 w-8 stroke-current">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"></path>
        </svg>
      </div>
      <div class="stat-title">Pais</div>
      <div class="stat-value text-secondary">{{ country().name }}</div>
      <div class="stat-desc">{{ country().region}}</div>
    </div>
  
    <div class="stat">
      <div class="stat-figure text-secondary">
        <div class="avatar online">
          <div class="w-16 rounded-full">
            <img [src]="country().flagSvg" />
          </div>
        </div>
      </div>
      <div class="stat-title">Sub Region</div>
      <div class="stat-value"> {{ country().subRegion }}</div>
      <div class="stat-desc text-secondary">{{ country().region }}</div>
    </div>
  </section>

<section>
    <figure class="diff aspect-16/9" tabindex="0">
        <div class="diff-item-1" role="img">
          <img [alt]="country().name" [src]="country().flagSvg" />
        </div>
        <div class="diff-item-2" role="img" tabindex="0">
            <img class="blur brightness-75" 
            [alt]="country().name" [src]="country().flagSvg" />

        </div>
        <div class="diff-resizer"></div>
      </figure>
</section>
 